<link rel="stylesheet" href="/css/post.css">
<link rel="stylesheet" href="/css/partials/footer.css">
<link rel="stylesheet" href="/css/partials/header.css">

<title><%= title %></title>
<%- include('./partials/header'); -%>
<section id="feed-posts">
    <h4>Posts</h4>
    <% if (locals.user) { %>
    <form action="/post/feedback" id="new-post-form" method="POST">
        <textarea name="content" cols="30" rows="3" placeholder="Type Here..."></textarea>
        <input type="submit" value="Post">
    </form>
    <% } %>
    <div id="posts-list-container">
        <ul>
            <% for(post of posts){ %>
                
            <li>
                <p>
                    <small>
                        <%= post.user.name %>
                    </small>
                    <br>
                    <%= post.content %>
                </p>
                <div class="post-comments"></div>
                <% if(locals.user) {%>
                    <form action="/comments/create" method="post">
                        <input type="text" name="content" placeholder="Write a comment...">
                        <input type="hidden" name="post" value="<%= post._id%>">
                        <input type="submit" value="Add Comment">
                    </form>
                    <% } %>
                
            </li>
                
            <%} %>
        </ul>
    </div>
</section>
